@{
    ViewData["Title"] = "Home Page";
}


<section class="ftco-section-2">
    <div class="container-fluid">
        <div class="section-2-blocks-wrapper row no-gutters">
            <div class="img col-sm-12 col-md-5" style="background-image: url(../images/image_4.jpg);" data-aos="fade-right">
                <a href="https://vimeo.com/45830194" class="button popup-vimeo" data-aos="fade-right" data-aos-delay="700"><span class="ion-ios-play"></span></a>
            </div>
            <div class="text col-md-6 col-lg-7 d-flex">
                <div class="text-inner align-self-center" data-aos="fade-up">

                    <h3>Ласкаво прошу на мій сайт!</h3>
                    <p>Мене звати Ірина Романчук і я викладаю словацьку мову вже більше 4 років.</p>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="section-2-blocks-wrapper-2">
    <div class="container-fluid">
        <div class="section-2-blocks-wrapper row no-gutters d-flex" style="background: #fafafa;">

            <div class="text col-md-5 col-lg-5 col-xl-4 ml-auto d-flex" data-aos="fade-up">
                <div class="text-inner align-self-center mr-auto">
                    <h4 class="text-primary h5">Far far away, behind the word mountains</h4>
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <h4 class="text-primary h5">A small river named Duden flows by their place</h4>
                    <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
            </div>
            <div class="img col-md-5 no-gutters ml-auto">
                <div class="image" style="background-image: url(../images/image_5.jpg); " data-aos="fade-left"></div>
                <div class="quote" data-aos="fade-left">
                    <p class="mb-5">&rdquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. &ldquo;</p>
                    <p class="author">&mdash; Mellissa Clark</p>
                </div>
            </div>
        </div>
    </div>

</section>*@


<div class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center" data-aos="fade-up">
                <h2>Курси</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front" style="background-image: url(../images/image_5.jpg);">
                            <div class="box">
                                <h2>Рівень А1</h2>
                                <p>Вартість: 5000 грн</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>&ldquo;Для людей, які ще немали досвіду у вивченні словацької мови і лише збираються ступити на цю тернисту стежину.&rdquo;</p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="images/image_5.jpg" alt="">
                                </div>
                                <div class="name align-self-center">Рівень А1<span class="position">Вартість: 5000 грн.</span></div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .flip-container -->
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front" style="background-image: url(../images/A2.jpg);">
                            <div class="box">
                                <h2>Рівень А2</h2>
                                <p>Вартість: 6000 грн</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>&ldquo;Для людей, які вже знають кілька слів словацькою, але ще не уявляють як зліпити їх в справжнє речення.&rdquo;</p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="images/A2.jpg" alt="">
                                </div>
                                <div class="name align-self-center">Рівень А2<span class="position">Вартість: 6000 грн.</span></div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .flip-container -->
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">

                <div class="flip-container">
                    <div class="flipper">
                        <div class="front" style="background-image: url(../images/doctor.jpg);">
                            <div class="box">
                                <h2>Медичний спецкурс</h2>
                                <p>Вартість 6000 грн</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="images/doctor.jpg" alt="">
                                </div>
                                <div class="name align-self-center">Медичний спецкурс<span class="position">Вартість 6000 грн</span></div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .flip-container -->
            </div>
        </div>
    </div>
</div>
<div class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center" data-aos="fade-up">
                <h2>Переваги навчання з нами</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                <div class="media block-6">
                    <div class="icon"><span class="flaticon-bank bg-after"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Економія грошей</h3>
                        <p>З нами ви платите лише за той час, коли насправді займаєтеся.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="media block-6">
                    <div class="icon"><span class="flaticon-career bg-after"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Прогресивна програма навчання</h3>
                        <p>Перша на теренах України спеціально розроблена програма вивчення словацької мови для людей без філологічної освіти.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="media block-6">
                    <div class="icon"><span class="flaticon-lightbulb bg-after"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Індивідуальний підхід</h3>
                        <p>Наші викладачі корегують навчальні плани під кожного учня індивідуально.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="media block-6">
                    <div class="icon"><span class="flaticon-pie-chart bg-after"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Система лояльності</h3>
                        <p>Пікантні знижки для людей які успішно закінчили попередні наші курси.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center" data-aos="fade-up">
                <h2>Наші викладачі</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4" data-aos="fade-up">
                <a href="blog-single.html" class="block-5" style="background-image: url('images/image_4.jpg');">
                    <div class="text">
                        <div class="subheading">Ірина Романчук</div>
                        <h3 class="heading">Кандидат філологічних, прости Господи, наук. Спортсмен. Комсомол. Красавіца</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <a href="blog-single.html" class="block-5" style="background-image: url('images/Галя.jpg');">
                    <div class="text">
                        <div class="subheading">Галя Миколайчук</div>
                        <h3 class="heading">Магістр. Незаміжня. Навчить говорити словацькою навіть рибу.</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <a href="blog-single.html" class="block-5" style="background-image: url('images/Жанна.jpg');">
                    <div class="text">
                        <div class="subheading">Жанна Богатиренко</div>
                        <h3 class="heading">Любить довгі прогулянки вздовж пляжу, піноколаду і коли її називають зайчиком.</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
